.headline {
	font-family: 'Oswald';
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 700;
	color: #50829F;
}

.page-head {
	font-family: 'Oswald';
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #50829F;
	text-align: center;
}

.nav-brand {
	font-family: 'Lato';
	font-weight: 400;

}

.fancy-body {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 20px;
	color: grey;
}
.blue-body {
	font-family: 'Lato';
	font-weight: 300;
	color: #50829F;
}

.employerTitle {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

body {
	font-family: 'Lato';
}

.footer {
	font-family: 'Lato';
	font-color: #F1f1f1;
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}